/* Write your CSS here */
.nav-container {
  display: flex;

  justify-content: space-between;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1110px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 85px;
}
.btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.theme {
  height: 30px;
  width: 30px;
}
.website {
  height: 30px;
  width: 30px;
}
.list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.nav-list {
  padding-left: 10px;
}
.list-text-dark-theme {
  color: #ffffff;
}
.list-text-light-theme {
  color: #000000;
}
